/*

Add styles or override variables from the theme here.

*/

$primary: #ADB4C0;
$secondary: #13294B;

$google_font_name: "IBM Plex Sans";
$google_font_family: "IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Serif";
